<form id="login">
    <h2>Log In</h2>
    <p>Username</p>
    <input id ="username"type="text">
    <p>Password</p>
    <input id="password"type="text">
    <br>
    <br>
    <button id="log" type="submit">Submit</button>
</form>

<form id="signup">
<h2>Sign Up</h2>
<p>Username</p>
<input id="signUser" type="text">
<p>Email</p>
<input id="signMail" type="text">
<p>Password</p>
<input id="signPass" type="text">
<br>
<br>
<button id="signup" type="submit">Submit</button>
</form>